<div class="person media">
    <div class="person-photo media-left">
        <img ng-src="people/{{person.PersonId}}/photo" alt="profile photo" class="media-object img-rounded" />
    </div>
    <div class="media-body">
        <div class="person-details">
            <h4>{{ person.FirstName }} {{ person.LastName }}</h4>
            <dl>
                <dt>Address:</dt>
                <dd>
                    {{ person.Address }} <br />
                    {{ person.City }} {{ person.State }} {{ person.Zip }}
                </dd>
                <dt>Age:</dt>
                <dd>{{ person.Age }}</dd>
                <dt>Interests:</dt>
                <dd>{{ person.Interests }}</dd>
            </dl>
        </div>
    </div>
</div>