<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>PeopleSearch</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Enter all or part of a name and click the button to search.</p>
        <div class="input-group input-group-lg">
            <input type="text" ng-model="vm.searchStr" class="form-control input-lg" placeholder="Search..." />
            <span class="input-group-btn">
                <button ng-click="vm.search()" class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-4 col-sm-6" ng-repeat="person in vm.people">
        <person-info person="person"></person-info>
    </div>
</div>