/* Required for Bootstrap fixed-top navbars */
body {
    padding-top: 20px;
}

.person {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}

    .person .person-photo img {
        width: 200px;
        max-height: 200px;
    }
