/* Required for Bootstrap fixed-top navbars */
body {
    padding-top: 70px;
}

.top-buffer {
    margin-top: 20px;
}

.person {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}